@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.skill-float {
  animation: float 3.5s ease-in-out infinite;
}